/*
    Have the div of id "controls":
    - centered in the middle of the screen
    - with a black 1px border
    - with a beige background
    - with centered content
    All of the buttons inside the div should have the following properties:
    - rounded corners
    - a white background
    - a black border
    - a font size of 1.5em
    - a font weight of bold
    - a padding of 10px
    - a margin of 10px
    - a font family of "Arial"
    - a font color of black
*/

#controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background: beige;
    width: 50%;
    height: 50%;
    text-align: center;
}

#controls button {
    border-radius: 10%;
    background: white;
    border: 1px solid black;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    font-family: "Arial";
    color: black;
}

#controls button:hover {
    background: black;
    color: white;
}

#